#root {
  overflow: auto;
}

.p1 {
  font-size: 16px;
  font-weight: bold;
}

/* 美化代码块的样式 */
pre {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  overflow-x: auto; /* 水平滚动条 */
}
code {
  font-family: "Courier New", Courier, monospace;
}
